<div class='container'>
  <div class='row'>
    <div class='col-lg-12'>
      Welcome, <%= req.session.userName %>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-12'>
      <input type='text' class='form-control search-textbox' placeholder='Enter email id of the person you want to connect to'/>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-12 search-results-box'>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-8'>
      <div class='row'>
        <div class='col-lg-12 chat-box form-control'>
          <h3>Click on a Friends Name to start chatting!</h3>
        </div>
        <br>
        <div class='col-lg-12 chat-text-box-wrapper'>
          <input type='text' class='chat-text-box form-control' placeholder='Type messages here'/>
        </div>
      </div>
    </div>
    <div class='col-lg-4 friends-box'>
    </div>
  </div>
</div>
<input type='hidden' name='csrf' class='csrf-token-home' value='<%= _csrf %>'/>
<input type='hidden' class='home-page'/>
<input type='hidden' class='username' data-user-id='<%= req.session.userId %>' value='<%= req.session.userName %> '/>
