<div class='container'>
  <div class='row'>
    <div class='col-lg-4 col-lg-offset-4'>
      <div class='row'>
        <div class='col-lg-12'>
          <h3 class='text-center'>Register Here</h3>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          <input type='text' name='tbNameRegister' placeholder='Name' class='form-control' required>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          <input type='text' name='tbEmailRegister' placeholder='E-mail' class='form-control' required>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          <input type='password' name='tbPasswordRegister' placeholder='Password' class='form-control' required>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-4 col-lg-offset-4'>
          <input type='button' name='btnRegister' class='btn btn-info' value='Register'>
        </div>
      </div>
    </div>
  </div>
</div>
