.form-control {
  margin : 15px 0px;
}
.msgBox > .success {
  color: green;
}
.msgBox > .failure {
  color:red;
}
.chat-box {
  min-height:400px;
  border:1px solid #bbb;
  overflow:scroll;
}
.friend {
  width:100%;
  padding:20px 0px;
  text-align:center;
  background-color:#eee;
  border:1px solid black;
}
.chat-message:nth-child(even) {
  background: #CCC;
}
.chat-message:nth-child(odd) {
  background: #FFF;
}

.search-result-name {
  background-color: #eee;
}
.search-result-friend-request {
  background-color: green;
}
.search-result-block {
  background-color: red;
}
