.form-control {
  margin : 15px 0px;
}
.msgBox > .success {
  color: green;
}
.msgBox > .failure {
  color:red;
}
.chat-box {
  min-height:400px;
  border:1px solid #bbb;
}
.friend {
  width:100%;
  padding:20px 0px;
  text-align:center;
  background-color:#eee;
  border:1px solid black;
}
